.menu {
    display: block;
}

rect.bar {
    fill: #1abc9c;
    opacity: 0.5;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
}

rect.bar:hover {
    cursor: pointer;
    stroke: white;
    opacity: 0.8;
}

circle.node {
    fill: #e74c3c;
    opacity: 0.5;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
}

circle.node:hover {
    cursor: pointer;
    opacity: 0.8;
}
