.menu {
    display: block;
}

svg#progress {
    width: 350px;
    height: 900px;
}

div#history-view {
    vertical-align: top;
    width: 350px;
    height: 900px;
    display: inline-block;
    border-color: black;
    border-width: 1px;
    font-size: 20px;
    font-family: sans-serif;
    color: gray;
}

#history-list {
    min-width: 200px;
}

rect.bar {
    fill: #1abc9c;
    opacity: 0.5;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
}

rect.bar:hover {
    cursor: pointer;
    stroke: white;
    opacity: 0.8;
}

circle.node {
    fill: #e74c3c;
    opacity: 0.5;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
}

circle.node:hover {
    opacity: 1;
}

circle:hover:not(.branch-node) {
    cursor: pointer;
}

.progress-node {
    fill: #2980b9;
    stroke: #95a5a6;
    stroke-width: 1px;
    -webkit-transition: stroke-width 0.25s ease-in-out;
    -moz-transition: stroke-width 0.25s ease-in-out;
    -ms-transition: stroke-width 0.25s ease-in-out;
    -o-transition: stroke-width 0.25s ease-in-out;
    transition: stroke-width 0.25s ease-in-out;
}

.progress-node:hover,
.selected-state:hover {
    stroke-width: 3px;
}

.selected-state {
    fill: #16a085;
    stroke: #95a5a6;
    stroke-width: 1px;
    -webkit-transition: stroke-width 0.25s ease-in-out;
    -moz-transition: stroke-width 0.25s ease-in-out;
    -ms-transition: stroke-width 0.25s ease-in-out;
    -o-transition: stroke-width 0.25s ease-in-out;
    transition: stroke-width 0.25s ease-in-out;
}

.branch-node {
    fill: #8e44ad;
    stroke: #95a5a6;
    stroke-width: 1px;
}
